.App {
  text-align: center;
  width: 100vw;     /* debating.... */
  height: 100vh;     /*debating....*/
}

body {
  margin: 0;
  padding: 0;

}

button:hover{
  cursor: pointer;
}

.Navbar{

  width: 100%;
  height: 80px;
  background-color: #a0db8d;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;

}

.Navbar .leftSide{
  flex: 65%;
  background-color: #61dafb;     /*takeoff later*/
  justify-content: left;
  align-items: center;
}

.Navbar .reftSide{
  flex: 35%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 25px;
}

.reftSide input {
  width: 220px;
  height: 30px;
  border: none;
  border-radius: 4px;
  font-size: 20px;
  padding-left: 15px;
  color: bisque;
}

.reftSide button {
  height: 32px;
  width: 70px;
  font-size: 16px;
}
/* .Navbar .leftSide .links{
  display: none;
} */

.Navbar .leftSide .button{
  max-height: 80px;
  margin-left: 20px;
}

.Navbar .leftSide #hidden{
  display: flex;
}

.Navbar .leftSide .links a {
  text-decoration: none;
  color: aliceblue;
  font-size: 25px;
  margin-left: 15px;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 850px){
  .Navbar .leftSide .links a{
    font-size: 20px;
  }
}

@media only screen and (max-width: 750px){
  .Navbar .leftSide .links a{
    font-size: 15px;
  }
}

@media only screen and (max-width: 650px){
  .Navbar .leftSide .button{
    display: flex;
  }

  .Navbar .leftSide .links{
    display: none;
  }

  .Navbar .leftSide .links{
position: absolute;
left: 0px;
top: 80px;
height: auto;
max-height: 230px;
font-size: 25px;
width: 130%;
background-color: aliceblue;
display: flex;
flex-direction: colomn;
align-items: center;

  }
}

.Navbar .leftSide #hidden{
margin:10px;


}

